{{!-- <h1>Chat</h1>

<label for="autor">Autor</label><input id="inputAutor" name="autor" type="text">
<label for="autor">Mensaje</label><input id="inputMensaje" name="mensaje" type="text">
<button id="btnEnviar">enviar</button>

<h3>Mensajes</h3>
<div id="mensajes"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script> --}}

<h1>realTimeProducts</h1>

<h3>add new product</h3>
<div>
  <label for="title">title</label><input id="inputTitle" name="title" type="text"><br />
  <label for="description">description</label><input id="inputDescription" name="description" type="text"><br />
  <label for="code">code</label><input id="inputCode" name="code" type="text"><br />
  <label for="price">price</label><input id="inputPrice" name="price" type="text"><br />
  <label for="status">status</label><input id="inputStatus" name="status" type="text"><br />
  <label for="stock">stock</label><input id="inputStock" name="stock" type="text"><br />
  <label for="category">category</label><input id="inputCategory" name="category" type="text"><br />
  <button id="btnSubmit">Submit</button>
</div>

<h3>delete a product</h3>
<label for="id">ID:</label><input id="inputId" name="id" type="text"><br />
<button id="btnDelete">Delete</button>

<h3>Products: </h3>
<div id="products"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>